.item_cart {
    .rm-cart {
        cursor: pointer;
        &:hover {
            color: red !important;
        }
    }
    .qty_num {
        min-width: 30px !important;
        display: inline-block;
        text-align: center;
    }
    .price_num {
        min-width: 100px;
        text-align: right;
    }
    .subtotal_num {
        min-width: 100px;
        text-align: right;
    }
    .qty_content {
        .bi {
            font-size: 18px;
            cursor: pointer;
            position: relative;
            top: 2px;
            &:hover {
                color: var(--orange-2);
            }
        }
    }
    .font-size-14 {
        font-size: 14px;
    }
}
