.c-footer {
    background: var(--orange-2);
    margin-top: 80px;
    .box_wrap {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        font-size: 14px;
        color: #fff;
        .nav {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            a {
                color: #fff !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                padding-right: 0.5rem !important;
                padding-left: 0.5rem !important;
            }
        }
    }
}
